body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db;
    animation: moveCircle 2s infinite alternate;
}

@keyframes moveCircle {
    0% {
        transform: translateY(0);
        background-color: #3498db;
    }
    50% {
        transform: translateY(-150px);
        background-color: #9b59b6;
    }
    100% {
        transform: translateY(0);
        background-color: #e74c3c;
        }
}